@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#0b1220];
}

/* Hero Navigation Arrow */

.hero-swiper .swiper-button-next,
.hero-swiper .swiper-button-prev {
  width: 32px;
  height: 32px;
  background: rgba(0, 0, 0, 0.55);
  border-radius: 9999px;
  backdrop-filter: blur(6px);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

/* Hilangkan icon default swiper */
.hero-swiper .swiper-button-next::after,
.hero-swiper .swiper-button-prev::after {
  font-size: 12px;
  font-weight: 700;
  color: white;
}

/* Hover */
.hero-swiper .swiper-button-next:hover,
.hero-swiper .swiper-button-prev:hover {
  background: rgba(0, 0, 0, 0.75);
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}
